body {
    background-color: #CF725F;
    margin: 15px;
}

#parent{
width: 100%;
  display: flex;
  justify-content: center;
   align-items: center;
   height: 100%;
}
#main-content{
  
    position: fixed;
    top: 100px;
    display: inline-block;
    text-align: center;
    padding: 20px;
    /* neumorphism */
    border-radius: 50px;
  background: linear-gradient(145deg, #ba6756, #dd7a66);
box-shadow:  20px 20px 60px #b06151, 
             -20px -20px 60px #ee836d;
    
}

#svg-content{

   padding-right: 40px;
   width: 400px;
   display: inline-block;
    
   
   
}


h3{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: white;
}
h4{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
        color: white;
}

p{
        font-family: 'Lato', sans-serif;
        font-size: 15px;
            color: white;
}